<h1>
    {{title}}
</h1>

<div>
    <input 
        class="rpsName" 
        [(ngModel)]="playerName"
        type="text">
    <input 
        class="rpsType" 
        id="rock" 
        type="button"
        (click)="newGame($event, 'rock')" 
        value="Rock">
    <input 
        class="rpsType" 
        id="paper" 
        type="button"
        (click)="newGame($event, 'paper')" 
        value="Paper">
    <input 
        class="rpsType" 
        id="scissors" 
        type="button"
        (click)="newGame($event, 'scissors')" 
        value="Scissors">
</div>

<h2>
    {{result}}
</h2>